

body{
    font-family: "Cambria";
    font-size: 13pt;

    }

h1{
    text-align: center;
    font-size: 18pt;
    font-weight: bolder;
}

h2{
    text-align: center;
    font-size: 16pt;
}

h6{
    font-size: 10pt;
    font-family: 'Times New Roman', Times, serif;
}

/* creacion de CSS Grid */
main{
   
    margin: 0 auto;
    max-width: 1500px;
    min-height: 100vh;
    display:grid;
    gap: 10px;
    grid-template-areas: 
    "my-logo my-header my-header"
    "my-nav my-nav my-nav"
    "my-section my-section my-aside"
    "my-footer my-footer my-footer";
    
    

}


.logo{
    
    padding: 0;
    grid-area: my-logo;
}


header{
    
    padding: 0;
    font-family: "Candara";
    text-align: center;
    font-size: 22pt;
    font-weight: bolder;
    text-transform: uppercase;
    grid-area: my-header;
    color: white;
    background-color:#28527a;
    
}

nav{
    padding: 10px;
    grid-area: my-nav;
    background-color:white;

}



aside{
    grid-area: my-aside;
    justify-content: stretch;
    background-color:white;

}

section{
    padding: 10px;
    grid-area: my-section;
    background-color:#8ac4d0;
      
}

article{
    padding: 10px;
    grid-area: my-article;
    
    background-color:#fff9b0;


}

footer{
    grid-area: my-footer;
    background-color: #a7c5eb;
    display:grid;
    /*grid-auto-columns: 400px;*/
    grid-template-areas: 
    "my-contacto my-social my-acerca";
    
}

.contacto{
    text-align: center;
    padding: 10px;
    grid-area: my-contacto;
    align-self: center;
    background-color:#a7c5eb;
}

.social{
    text-align: center;
    padding: 10px;
    grid-area: my-social;
    align-self: center;
    background-color:#a7c5eb;
}

.acerca{
    text-align: center;
    padding: 10px;
    grid-area: my-acerca;
    align-self: center;
    background-color:#a7c5eb;

}


/* creacion de menu desplegable */
#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 250px;
}

#menu ul li{
    background-color: #2e518b;
    position: relative;
    float: left;
    margin: 0;
    padding: 5px;

}

#menu ul li:hover{
    background: #5b78a7;
}

#menu ul a{
    display:block;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 30px;
    font-family: "Candara";
    text-transform: uppercase;
    letter-spacing: 1px;
}

#menu ul ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background:yellow;
    padding: 0;
}

#menu ul ul li{
    float: none;
    width: 200px;

}

#menu ul ul a{
    line-height: 120%;
    padding: 10px 15px;

}

#menu ul li:hover > ul{
    display: block;
}

